@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Inter:wght@700&family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Inter:wght@700&family=Raleway:wght@600&family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.summary
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 15vh;
    padding-top: 0%;
    padding-left: 25vh;
    padding-right: 25vh;
    padding-bottom: 20vh;
}

.summary .heading
{
    font-size: 250%;
    font-family: 'Agdasima', sans-serif;
    font-family: 'Inter', sans-serif;
    font-weight:bolder;
    margin-left: 30vh;
    padding-bottom: 15vh;
}

.summary .body
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 5vh;
}

.summary .body .card
{
    width: 40vh;
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
}

.summary .body .card:hover{
    transform: translateY(-15px);
  }

.summary .body .card .cardheading
{
    font-size: 100%;
    font-family: 'Agdasima', sans-serif;
    font-family: 'Inter', sans-serif;
    font-weight:bolder;
    padding: 2vh;
}

.summary .body .card p
{
    padding-left: 2vh;
    font-family: 'Agdasima', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

.summary .btn
{
    margin-top: 15vh;
    margin-left: 35vh;
}

.summary button
{
    padding: 10vh;
    padding-inline: 20vh;
    font-size: 100%;
    font-family: 'Agdasima', sans-serif;
    font-family: 'Inter', sans-serif;
    font-weight:bolder;
    color: antiquewhite;
    background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
    background-size: auto;
    animation: animatedgradient 3s ease infinite alternate;
    background-size: 300% 300%;
    border-radius: 5%;
}